<section class="cabecalho reveal">

  <span class="tag">
    MINHA STACK
  </span>

  <h1>
    Tecnologias que<br>
    movem meus projetos.
  </h1>

  <p>
    Linguagens, ferramentas e tecnologias utilizadas
    para transformar ideias em aplicações reais.
  </p>

</section>


<div class="busca-area reveal">

  <input
    type="text"
    [(ngModel)]="busca"
    placeholder="Pesquisar tecnologia..."
    autocomplete="off">

</div>


@if (carregando) {

  <p>
    Carregando tecnologias...
  </p>

}


@if (erro) {

  <p>
    {{ erro }}
  </p>

}


@if (
  !carregando &&
  tecnologiasFiltradas.length === 0
) {

  <p>
    Nenhuma tecnologia encontrada para "{{ busca }}".
  </p>

}


@if (!carregando && !erro) {

  <section class="grid">

    @for (
      t of tecnologiasFiltradas;
      track t.id
    ) {

      <mat-card class="reveal">

        <div class="numero">

          @if (t.id < 10) {
            0{{ t.id }}
          }
          @else {
            {{ t.id }}
          }

        </div>


        <mat-card-header>

          <mat-card-title>
            {{ t.nome }}
          </mat-card-title>

          <mat-card-subtitle>
            {{ t.categoria }}
          </mat-card-subtitle>

        </mat-card-header>


        <mat-card-content>

          <p>
            {{ t.descricao }}
          </p>

          <span class="ano">
            Desde {{ t.ano_criacao }}
          </span>

        </mat-card-content>

      </mat-card>

    }

  </section>

}