:host {
  display: block;
  max-width: 900px;
  margin: 40px auto;
  padding: 20px;
}

h1 {
  margin-bottom: 20px;
}

input {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  box-sizing: border-box;
  border-radius: 8px;
  border: 1px solid #ccc;
}