mat-card {
  max-width: 800px;
  margin: 30px auto;
  padding: 25px;
  border-radius: 20px;
}

mat-card-title {
  font-size: 30px;
  font-weight: bold;
}

ul {
  margin-top: 15px;
  padding-left: 25px;
}

li {
  margin-bottom: 12px;
  font-size: 17px;
  line-height: 1.6;
}

mat-card-content p {
  font-size: 17px;
  line-height: 1.8;
}